.activeLi {
    z-index: 2;
    color: #ffffff;
    background-color: transparent;
    border-color: rgba(0,0,0,0.6);
}

.notAtive, .notActive:hover {
    background-image: linear-gradient(#484e55, #3a3f44 60%, #313539) !important;
    background-repeat: no-repeat !important;
}